@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./src/style/index.css";

@layer base {
  .about-project .stack span:after {
    content: "|";
    @apply pl-2;
  }
  .about-project .stack span:last-child:after {
    content: "";
  }
  .web-icon svg {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.2));
  }
  .web-icon {
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
  }
  .web-icon:hover {
    transform: scale(1.1);
  }
  .hexagon polygon {
    stroke-width: 2 !important;
  }
  .card-stripe .triangle-bottom {
    content: "";
    position: absolute;
    right: -50px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid black;
  }
  .card-stripe .triangle-top {
    position: absolute;
    right: -50px;
    top: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid black;
  }
}
